@inherits OptiAlloy.Views.AlloyPageBase<PageViewModel<OptiAlloy.Models.Pages.StartPage>>

<div class="start my-5">
    <div epi-property="@Model.CurrentPage.MainContentArea" class="row">
        <div epi-property-item class="block" epi-on-item-rendered="OnItemRendered" />
    </div>
</div>
