<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="optimizely" value="https://api.nuget.optimizely.com/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/episerver/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="project">
      <package pattern="EPiServer.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="EPiServer.*" />
      <package pattern="Optimizely.*" />
	  <package pattern="Optimizely.Graph.*" />
      <package pattern="CmsCore.IntegrationTesting" />
    </packageSource>
    <packageSource key="optimizely">
      <package pattern="EPiServer.*" />
      <package pattern="EPiServer.Turnstile.Contracts.Hmac" />
      <package pattern="EPiServer.CMS.TinyMce" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Ignored" />
      <add key="ClearTextPassword" value="%GitHubEpiserverPAT%" />
    </github>
  </packageSourceCredentials>
</configuration>
