//
// Custom fonts
//
@import "style";
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700;800&display=swap');
@import url('../../wwwroot/fonts/nbi-pro-mono.css');

//
// Imports
//
@import "opti/vars";
@import "opti/colors";
@import "opti/typography";
@import "opti/card";
@import "opti/tile";
@import "opti/image";
@import "opti/general";
@import "opti/buttons";
@import "opti/header";
@import "opti/footer";
@import "opti/aside";
@import "opti/hero";
@import "opti/border";
@import "opti/background";
@import "opti/container";
@import "opti/rte";
@import "opti/module";

@import "builder";

