@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;600;700;800&display=swap");
@import url("../fonts/nbi-pro-mono.css");
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

.content {
  margin-bottom: 1.5rem;
}

.block {
  margin-bottom: 1.5rem;
}

.jumbotronblock {
  color: #fff;
  position: relative;
}
.jumbotronblock > div {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.jumbotronblock .jumbotron-dimmer {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.jumbotronblock .jumbotron-inner {
  position: relative;
}

:root, :host {
  --optimizely-blue: #0037ff;
  --dark-blue: #080736;
  --black: var(--vulcan);
  --white: #fff;
  --vulcan: #10141d;
  --vulcan-85: #2c313f;
  --space: #303542;
  --space-85: #404656;
  --bright-gray: #e9ebf1;
  --vulcan-95: #191e28;
  --vulcan-90: #232834;
  --ebony: #0e1122;
  --green: #3be081;
  --light-blue: #00ccff;
  --orange: #ff8110;
  --purple: #861dff;
  --red: #f13030;
  --yellow: #ffce00;
  --independence: #484f61;
  --pale-sky: #656c81;
  --santas-gray: #969cac;
  --mischka: #ced2dc;
  --ghost-white: #f8f8fc;
  --optimizely-blue-20-tint: #ccd7ff;
  --optimizely-blue-40-tint: #99afff;
  --optimizely-blue-60-tint: #6687ff;
  --optimizely-blue-80-tint: #194bff;
  --optimizely-blue-80-shade: #002ccc;
  --optimizely-blue-60-shade: #002199;
  --optimizely-blue-40-shade: #001666;
  --optimizely-blue-20-shade: #000b33;
  --dark-blue-20-tint: #cecdd7;
  --dark-blue-40-tint: #9c9caf;
  --dark-blue-60-tint: #6b6a86;
  --dark-blue-80-tint: #393a5d;
  --dark-blue-90-tint: #212149;
  --dark-blue-90-shade: #06062b;
  --dark-blue-60-shade: #050420;
  --dark-blue-40-shade: #030316;
  --dark-blue-20-shade: #02010b;
  --light-blue-20-tint: #ccf5ff;
  --light-blue-40-tint: #99ebff;
  --light-blue-60-tint: #66e0ff;
  --light-blue-80-tint: #33d6ff;
  --light-blue-80-shade: #00a3cc;
  --light-blue-60-shade: #007a99;
  --light-blue-40-shade: #005266;
  --light-blue-20-shade: #002933;
  --orange-20-tint: #ffe6cf;
  --orange-40-tint: #ffcd9f;
  --orange-60-tint: #ffb370;
  --orange-80-tint: #ff9a40;
  --orange-80-shade: #cc670d;
  --orange-60-shade: #994d0a;
  --orange-40-shade: #663406;
  --orange-20-shade: #331a03;
  --green-20-tint: #d9f9e6;
  --green-40-tint: #b1f3cd;
  --green-60-tint: #89ecb3;
  --green-80-tint: #62e69a;
  --green-80-shade: #2fb367;
  --green-60-shade: #23864d;
  --green-40-shade: #185a34;
  --green-20-shade: #0c2d1a;
  --yellow-20-tint: #fff5cc;
  --yellow-40-tint: #ffeb99;
  --yellow-60-tint: #ffe266;
  --yellow-80-tint: #ffd833;
  --yellow-80-shade: #cca500;
  --yellow-60-shade: #997c00;
  --yellow-40-shade: #665200;
  --yellow-20-shade: #332900;
  --purple-20-tint: #e7d2ff;
  --purple-40-tint: #cfa5ff;
  --purple-60-tint: #b677ff;
  --purple-80-tint: #9e4aff;
  --purple-80-shade: #6b17cc;
  --purple-60-shade: #501199;
  --purple-40-shade: #360c66;
  --purple-20-shade: #1b0633;
}

.theme--dark {
  --color-primary: var(--optimizely-blue);
  --color-secondary: var(--purple);
  --color-tertiary: var(--yellow);
  --color-background: var(--vulcan);
  --color-heading-large: var(--white);
  --color-heading: var(--bright-gray);
  --color-overline: var(--optimizely-blue-20-tint);
  --color-subtitle: var(--white);
  --color-text-body: var(--bright-gray);
  --color-link-body: var(--white);
  --color-link-body-hover: var(--mischka);
  --color-link-body-disabled: var(--independence);
  --border-color: linear-gradient( 90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, .3) 51.83%, rgba(255, 255, 255, .025) 99.11%, rgba(255, 255, 255, 0) 99.11% ) ;
}

.theme--light {
  --color-primary: var(--optimizely-blue);
  --color-secondary: var(--purple);
  --color-tertiary: var(--yellow);
  --color-background: var(--ghost-white);
  --color-heading-large: var(--vulcan);
  --color-heading: var(--vulcan);
  --color-overline: var(--pale-sky);
  --color-subtitle: var(--vulcan);
  --color-text-body: var(--vulcan-85);
  --color-link-body: var(--optimizely-blue);
  --color-link-body-hover: var(--optimizely-blue-60-shade);
  --color-link-body-disabled: var(--santas-gray);
  --border-color: linear-gradient( 90deg, rgba(255, 255, 255, 0) -2.88%, rgba(0, 55, 255, .5) 51.83%, rgba(255, 255, 255, .05) 99.11%, rgba(255, 255, 255, 0) 99.11% ) ;
}

body {
  color: var(--color-text-body);
}

a, .nav-link {
  text-decoration: none;
  color: var(--color-link-body);
}
a:hover, a:focus, .nav-link:hover, .nav-link:focus {
  color: var(--color-link-body-hover);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--color-link-body);
  background-color: var(--color-primary);
}

:root, :host {
  --font-family-base: "Figtree", sans-serif;
  --font-family-mono: "NBI Pro Mono", Arial, sans-serif;
  --space-3xs: 4px;
  --space-2xs: clamp(70px, .104vw + 6.67px, 8px);
  --space-xs: clamp(11px, .104vw + 10.67px, 12px);
  --space-s: clamp(14px, .208vw + 13.33px, 16px);
  --space-m: clamp(21px, .313vw + 20px, 24px);
  --space-l: clamp(28px, .417vw + 26.67px, 32px);
  --space-xl: clamp(35px, .521vw + 33.33px, 40px);
  --space-2xl: clamp(53px, .729vw + 50.67px, 60px);
  --font-size-base: 16px;
  --font-size-body-1: 14px;
  --font-size-body-2: var(--font-size-base);
  --font-size-body-3: 18px;
  --font-size-overline: 12px;
  --font-size-h6: 16px;
  --font-size-h5: 20px;
  --font-size-subtitle: clamp(20px, .417vw + 18.67px, 24px);
  --font-size-h4: clamp(20px, .417vw + 1.867px, 24px);
  --font-size-h3: clamp(24px, .625vw + 22px, 30px);
  --font-size-h2: clamp(30px, .625vw + 28px, 36px);
  --font-size-h1: clamp(36px, 1.25vw + 32px, 48px);
  --font-size-d3: clamp(48px, 1.25vw + 44px, 60px);
  --font-size-d2: clamp(60px, 1.25vw + 56px, 72px);
  --font-size-d1: clamp(72px, 2.5vw + 64px, 96px);
  --font-weight-extra-bold: 800;
  --font-weight-bold: 620;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 450;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

html {
  font-size: 14px;
}

p {
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-6, .display-5, .display-4, .display-3, .display-2, .display-1 {
  color: var(--color-heading-large);
  font-weight: var(--font-weight-bold);
}

h1, .h1 {
  font-size: var(--font-size-h1);
}

h2, .h2 {
  font-size: var(--font-size-h2);
}

h3, .h3 {
  font-size: var(--font-size-h3);
}

h4, .h4 {
  font-size: var(--font-size-h4);
}

h5, .h5 {
  font-size: var(--font-size-h5);
}

h6, .h6 {
  font-size: var(--font-size-h6);
}

.overline {
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  color: var(--color-overline);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(204, 215, 255) !important;
}

.strong, strong {
  font-weight: var(--font-weight-extra-bold);
}

.gradient-text {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text__optimizely-primary {
  --gradient-text-color: linear-gradient(180deg,var(--light-blue) 0%,var(--optimizely-blue) 100%);
}
.gradient-text__optimizely-green {
  --gradient-text-color: radial-gradient(100% 741.05% at 100% 77.78%,var(--green) 0%,var(--light-blue) 100%);
}

.opti-card .section-wrapper {
  background: rgba(25, 30, 40, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 40px;
}
.opti-card .section-wrapper .row.heading {
  text-align: center;
  padding-bottom: 56px;
  padding-top: 24px;
}
.opti-card .section-wrapper .row:not(.heading) {
  padding: 24px 0;
}
.opti-card .section-wrapper .row:not(.heading) h1:not(.overline) {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}
.opti-card .section-wrapper .row:not(.heading) > div:not(:first-child) {
  padding-left: 36px;
  position: relative;
}
.opti-card .section-wrapper .row:not(.heading) > div:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 1px;
  height: 90%;
  margin: auto;
  margin-left: 12px;
  opacity: 0.5;
  background: linear-gradient(1deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.6) 51.83%, rgba(255, 255, 255, 0.05) 99.11%, rgba(255, 255, 255, 0) 99.11%);
}
.opti-card.no-background .section-wrapper {
  background: transparent;
  border: 0 none;
  padding: 0;
}

.tile {
  --tile-border-radius: 12px;
  --tile-outer-padding: 6px 16px;
  --tile-background-color: rgba(25,30,40, 0.9);
  --tile-gradient-border: linear-gradient( 180deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .05) 100% );
  --tile-thumbnail-size: 50px;
  --tile-thumbnail-max-height: 32px;
  display: flex;
  align-items: center;
  background: var(--tile-background-color);
  background-clip: padding-box;
  border-radius: var(--tile-border-radius);
  padding: var(--tile-outer-padding);
  border: 1px solid transparent;
  position: relative;
  height: 100%;
}
.tile .tile-image .tile-image__thumbnail {
  border-radius: 0.25rem;
  object-fit: cover;
  width: var(--tile-thumbnail-size);
  max-height: var(--tile-thumbnail-max-height);
}
.tile .tile-body {
  display: flex;
  align-items: center;
  height: 100%;
}
.tile .tile-body .tile-section__left, .tile .tile-body .tile-section__right {
  position: relative;
}
.tile .tile-body .tile-section__left, .tile .tile-body .tile-section__border {
  flex: 0 0 auto;
}
.tile .tile-body .tile-section__right {
  flex: 1 1 auto;
}
.tile .tile-body .tile-section__border {
  width: 1px;
  height: 75%;
  margin: -2px 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.3) 51.83%, rgba(255, 255, 255, 0.025) 99.11%, rgba(255, 255, 255, 0) 99.11%);
}
.tile::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: var(--tile-gradient-border);
}
.tile::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2), inset 0 1px #484f61, inset 0 -1px 10px rgba(72, 79, 97, 0.3019607843), inset 0 10px 10px rgba(72, 79, 97, 0.3019607843);
  transition: opacity 0.5s ease-in-out;
}
.tile:hover {
  color: unset;
}
.tile:hover::after {
  opacity: 1;
}
.tile:focus {
  --tile-gradient-border: linear-gradient( 180deg, rgba(220, 223, 227, .05) 0%, #dcdfe3 100% ) ;
}

:root {
  --thumbnail-size-sm: 32px;
  --thumbnail-size: 50px;
  --thumbnail-size-lg: 72px;
}

.thumbnail {
  border-radius: 0.25rem;
  object-fit: cover;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}
.thumbnail-sm {
  width: var(--thumbnail-size-sm);
  height: var(--thumbnail-size-sm);
}
.thumbnail-lg {
  width: var(--thumbnail-size-lg);
  height: var(--thumbnail-size-lg);
}

img, svg, video {
  max-width: 100%;
}

.jumbotronblock img, .block img, .teaserblock img {
  border-radius: 8px;
}

.curved {
  overflow: hidden;
  border-radius: var(--border-radius);
  --border-radius: 24px;
}
.curved-sm {
  --border-radius: 16px;
}
.curved-lg {
  --border-radius: 32px;
}
.curved-xl {
  --border-radius: 40px;
}

body {
  background: var(--color-background);
  color: var(--color-text-body);
  font-family: Figtree, sans-serif;
  font-weight: 300;
}

.row, :root, :after, :before {
  --bs-gutter-x: 16px;
}

@media (min-width: 992px) {
  .row, :root, :after, :before {
    --bs-gutter-x: 24px;
  }
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 8px);
  padding-left: var(--bs-gutter-x, 8px);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
}
.outer-padding {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 576px) {
  .outer-padding {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .outer-padding {
    padding-right: 56px;
    padding-left: 56px;
  }
}
.btn {
  --button-font-size: 16px;
  --button-padding: 6px 24px 6px 24px;
  --button-text-color: var(--white);
  --button-gradient-border: none;
  --button-gradient-border--hover: none;
  --button-gradient-border--active: none;
  --button-background-color: radial-gradient( 125% 125% at 50% 125%, var(--optimizely-blue-60-shade) 0%, var(--optimizely-blue) 69.43% );
  --button-background-color--hover: none;
  --button-background-color--active: none;
  --button-transition: .3s ease-in-out;
  --button-border-radius: 30px;
  --button-font-weight: var(--font-weight-medium);
  font: inherit;
  color: inherit;
  border: none;
  position: relative;
  display: inline-block;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 1.5;
  color: var(--button-text-color);
  white-space: nowrap;
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  background: var(--button-background-color);
  background-image: var(--button-background-color);
}

.btn-primary {
  --button-background-color: radial-gradient( 100% 741.05% at 100% 77.78%, var(--color-secondary) 0%, #3c2bff 56.25%, var(--color-primary) 100% );
}

.btn-secondary {
  --button-background-color: radial-gradient( 125% 125% at 50% 125%, var(--purple-60-shade) 0%, var(--purple) 69.43% );
}

.theme--dark .site-header {
  --header-background-color: var(--vulcan);
  --menu-background-color: rgb(16 20 29 / 95%);
  --primary-link-color: var(--bright-gray);
  --primary-link-hover-color: var(--light-blue);
  --primary-link-arrow-hover-color: var(--light-blue);
  --heading-link-color: var(--white);
  --large-link-color: white;
  --small-link-color: white;
  --label-color: var(--optimizely-blue-20-tint);
  --button-text-color: white;
  --button-background-color: rgb(0 55 255 / 40%);
  --button-text-hover-color: white;
  --button-background-hover-color: rgb(0 55 255 / 80%);
  --columns-heading-color: white;
  --menu-bottom-background-color: rgb(255 255 255 / 3%);
  --menu-bottom-arrow-color: var(--light-blue);
  --divider-color: rgb(220 223 227 / 30%);
  --mobile-gradient-blur: linear-gradient(181deg, rgb(8 7 54 / 90%), #1e1c7a);
  --hamburger-icon-color: white;
}

.site-header .site-header__nav > .nav-item {
  flex: 0 0 auto;
}
@media (max-width: 991.98px) {
  .site-header {
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  .site-header {
    min-height: 81px;
  }
  .site-header .site-header__container {
    min-height: 81px;
    display: flex;
  }
  .site-header .site-header__nav {
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .site-header .site-header__nav {
    margin-left: 60px;
  }
}
@media (max-width: 767.98px) {
  .site-header .logo {
    max-width: 110px;
  }
}
.site-header .navbar-toggler {
  background: var(--optimizely-blue-60-shade);
  color: var(--white);
  padding: 7px 16px;
}
.site-header .navbar-toggler:hover, .site-header .navbar-toggler:focus {
  background: var(--optimizely-blue-40-shade);
}
.site-header .navbar-toggler .navbar-toggler-icon {
  height: unset;
  width: unset;
}
.site-header .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.1px;
  background: none;
  border: none;
  appearance: none;
  color: var(--primary-link-color);
}
.site-header .navbar-nav .nav-link:hover, .site-header .navbar-nav .nav-link:focus {
  color: var(--menu-bottom-arrow-color);
}

@media (min-width: 992px) {
  .site-header .navbar-nav .nav-link {
    padding: 11px 10px 33px;
  }
}
@media (min-width: 1400px) {
  .site-header .navbar-nav .nav-link {
    padding: 11px 20px 33px;
  }
}
.site-footer {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 44px;
  background: linear-gradient(180deg, var(--vulcan) 0%, rgba(16, 20, 29, 0) 79.63%), radial-gradient(177.38% 139.66% at 50% 0%, var(--vulcan) 0%, var(--vulcan-95) 100%);
}
@media (min-width: 992px) {
  .site-footer {
    padding-top: 80px;
    padding-bottom: 34px;
  }
}
.site-footer h3 {
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  color: var(--color-overline);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.site-footer p {
  margin: 0;
}
.site-footer ul.site-footer__section-links {
  font-size: 12px;
  list-style: none;
}
.site-footer ul.site-footer__section-links li {
  margin-bottom: 8px;
}
.site-footer ul.site-footer__section-links li a {
  line-height: 18px;
  color: var(--mischka);
}
.site-footer__logo-wrapper {
  margin-bottom: 32px;
}
.site-footer__address {
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  color: var(--mischka);
}
.site-footer__address a {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--mischka);
  text-decoration: underline;
}
.site-footer__bottom {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .site-footer__bottom {
    margin-top: 110px;
    margin-bottom: 33px;
  }
}
.site-footer__bottom .site-footer__copyright {
  margin-right: 24px;
  line-height: 1.5em;
}
.site-footer__bottom .site-footer__copyright,
.site-footer__bottom .site-footer__bottom-links a {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  color: var(--santas-gray);
}
.site-footer__bottom .site-footer__bottom-links li {
  display: block;
  margin-bottom: 4px;
}
.site-footer__bottom .site-footer__bottom-links li::marker {
  content: "";
}
@media (min-width: 992px) {
  .site-footer__bottom .site-footer__bottom-links {
    text-align: left;
  }
  .site-footer__bottom .site-footer__bottom-links li {
    display: inline-block;
    margin-right: var(--bs-gutter-x);
    margin-bottom: 0;
  }
  .site-footer__bottom .site-footer__bottom-links a {
    line-height: 1;
  }
}

.aside h2 {
  display: block;
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  color: var(--color-overline);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.aside ul {
  padding: 0;
}
.aside ul li {
  position: relative;
  list-style: none;
}
.aside .listResult .small {
  color: rgb(204, 215, 255);
}

.hero {
  background: linear-gradient(180deg, var(--vulcan) 55.03%, #191e28 100%), radial-gradient(17.88% 49.57% at 32.13% 100%, var(--vulcan) 34.26%, var(--space) 99.94%), radial-gradient(21.21% 58.79% at 50.01% 100%, var(--space) 0.25%, var(--vulcan) 97.49%), radial-gradient(10.56% 29.27% at 50.01% 100%, var(--space-85) 0.25%, var(--vulcan) 97.49%);
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero .jumbotron-overline {
  margin-top: 5px;
  margin-bottom: 32px;
}
.hero .jumbotron-overline img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0.5px;
}
.hero .jumbotron-inner {
  padding: 4rem;
}

.hero__image {
  border-radius: 16px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.opti-hero {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 64px;
}
.opti-hero__background {
  --opti-hero-background:
      linear-gradient(180deg, var(--vulcan) 55.03%, #191e28 100%),
      radial-gradient( 17.88% 49.57% at 32.13% 100%, var(--vulcan) 34.26%, var(--space) 99.94% ),
      radial-gradient( 21.21% 58.79% at 50.01% 100%, var(--space) .25%, var(--vulcan) 97.49% ),
      radial-gradient( 10.56% 29.27% at 50.01% 100%, var(--space-85) .25%, var(--vulcan) 97.49% );
  background: var(--opti-hero-background);
}
.opti-hero__curved {
  padding-bottom: calc(max(170px, 12vw) + 104px);
  -webkit-mask: linear-gradient(black, black), url("https://images4.cmp.optimizely.com/Zz04ZjVlNzg0NjU5OGMxMWVlYWNhYzRhZmU0YWI2MDdlZg==") bottom center no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-size: max(2000px, 150%);
  mask-size: max(2000px, 150%);
}
.opti-hero__curved::before {
  background: url("https://images4.cmp.optimizely.com/Zz01NjRlMDVlODU5OGQxMWVlOGY2YWE2OWMwMmUwZmFjZg==");
  background-size: max(2030px, 151.5%);
  background-position: center bottom;
  background-repeat: no-repeat;
  opacity: 0.25;
}
.opti-hero::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.opti-border {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.3) 51.83%, rgba(255, 255, 255, 0.025) 99.11%, rgba(255, 255, 255, 0) 99.11%);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
}
.opti-border.bottom {
  bottom: 0;
}
.opti-border.top {
  top: 0;
}
.opti-border.centered {
  width: 57%;
}

@media (max-width: 767.98px) {
  .row__vertical-separators > [class*=col-] + [class*=col-],
  .row__vertical-separators > .col + .col {
    margin-top: 40px;
  }
  .row__vertical-separators > .col-md-6:nth-of-type(3n):before {
    display: none;
  }
}
@media (min-width: 768px) {
  .row__vertical-separators {
    --bs-gutter-x: 48px !important ;
  }
  .row__vertical-separators > [class*=col-], .row__vertical-separators > .col {
    margin-bottom: 40px;
  }
  .row__vertical-separators > [class*=col-] + [class*=col-], .row__vertical-separators > .col + .col {
    position: relative;
  }
  .row__vertical-separators > [class*=col-] + [class*=col-]::before,
  .row__vertical-separators > .col + .col::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 1px;
    height: 90%;
    margin: auto;
    opacity: 0.5;
    background: linear-gradient(1deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.6) 51.83%, rgba(255, 255, 255, 0.05) 99.11%, rgba(255, 255, 255, 0) 99.11%);
  }
  .theme--light .row__vertical-separators > [class*=col-] + [class*=col-]::before,
  .theme--light .row__vertical-separators > .col + .col::before {
    background: linear-gradient(1deg, rgba(233, 235, 241, 0) -2.88%, rgba(0, 55, 255, 0.6) 51.83%, rgba(255, 255, 255, 0.05) 99.11%, rgba(233, 235, 241, 0) 99.11%);
  }
}
.opti-background, .opti-background__gradient {
  --background-top: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0f2d8e 100%);
  --background-bottom: linear-gradient( 180deg, rgba(0, 0, 0, 0) 0%, #0f2d8e 100% );
  --background-top--curve: linear-gradient( 0deg, var(--vulcan) 0%, rgba(0, 0, 0, 0) 100% ), radial-gradient( 30.36% 30.36% at 50.03% -69.38%, #171541 0%, rgba(23, 21, 65, 0) 81.25% ), radial-gradient( 46.03% 46.03% at 100% 30.62%, rgba(95, 29, 142, .2) 0%, rgba(95, 29, 142, 0) 100% ), radial-gradient( 70.72% 75.15% at 13.7% 11.41%, #0f2d8e 0%, rgba(15, 45, 142, 0) 100% );
  --background-bottom--curve: linear-gradient( 180deg, var(--vulcan) 0%, rgba(0, 0, 0, 0) 100% ), radial-gradient( 30.36% 30.36% at 50.03% 0%, #171541 0%, rgba(23, 21, 65, 0) 81.25% ), radial-gradient( 46.03% 46.03% at 100% 100%, #0037ff 0%, rgba(107, 23, 204, .1) 100% ), radial-gradient( 70.72% 75.15% at 13.7% 80.79%, var(--vulcan) 0%, rgba(15, 45, 142, 0) 100% );
  position: relative;
}
.opti-background::before, .opti-background__gradient::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

.theme--light .opti-background {
  --background-top: linear-gradient( 0deg, rgba(255, 255, 255, 0) 5%, rgba(24, 117, 255, .2) 105.66% );
  --background-bottom: linear-gradient( 180deg, rgba(255, 255, 255, 0) 28%, rgba(24, 117, 255, .1) 100.66% );
  --background-top--curve: linear-gradient( 0deg, rgba(255, 255, 255, 0) 5%, rgba(24, 117, 255, .2) 105.66% );
  --background-bottom--curve: linear-gradient( 180deg, rgba(255, 255, 255, 0) 28%, rgba(24, 117, 255, .1) 100.66% ) ;
}

.opti-background__gradient::before {
  background: var(--background-top), var(--background-bottom), var(--color-background);
}

.opti-background__gradient-top::before {
  background: var(--background-top), var(--color-background);
}

.opti-background__gradient-bottom::before {
  background: var(--background-bottom), var(--color-background);
}

.opti-background__gradient--curve-top, .opti-background.opti-background__gradient--curve-bottom {
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask: var(--background-mask);
}

.opti-background__gradient--curve-top {
  --background-top: var(--background-top--curve);
  --background-mask: linear-gradient(black,black),url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="-1px" viewBox="0 0 1399.86 90.84" enable-background="new 0 0 1399.86 90.84" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.05,5.51L17.05,5.51c217.39,55.68,445.64,85.33,681.01,85.33 c235.64,0,464.13-29.72,681.74-85.52l0.05-0.02c6.66-1.79,13.33-3.55,20.01-5.29H0v0.98C5.69,2.47,11.37,3.98,17.05,5.51z"/></svg>') top center no-repeat;
}

.opti-background__gradient--curve-bottom {
  --background-bottom: var(--background-bottom--curve);
  --background-mask: linear-gradient(black,black),url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1399.86 90.84" enable-background="new 0 0 1399.86 90.84" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M0,89.86v0.98h1399.86c-6.68-1.74-13.35-3.51-20.01-5.29l-0.05-0.02 C1162.19,29.72,933.7,0,698.06,0c-235.37,0-463.62,29.65-681,85.33l-0.01,0C11.37,86.86,5.69,88.37,0,89.86z"/></svg>') bottom center no-repeat;
}

.opti-container {
  --container-padding-top: 128px;
  --container-padding-bottom: 128px;
  padding-top: var(--container-padding-top);
  padding-bottom: var(--container-padding-bottom);
}

.opti-container.opti-container__curved {
  z-index: 2;
}

.opti-container.overlap-top__large {
  --container-padding-top: 0 ;
}

.opti-container.overlap-top__large .opti-background::before {
  top: auto;
  height: 70%;
}

.opti-container.overlap-top__medium {
  --container-padding-top: 0 ;
}

.opti-container.overlap-top__medium .opti-background::before {
  top: auto;
  height: 80%;
}

.opti-container.overlap-top__small {
  --container-padding-top: 0 ;
}

.opti-container.overlap-top__small .opti-background::before {
  top: auto;
  height: 90%;
}

.opti-container.overlap-bottom__large {
  --container-padding-bottom: 0 ;
}

.opti-container.overlap-bottom__large .opti-background::before {
  bottom: auto;
  height: 70%;
}

.opti-container.overlap-bottom__medium {
  --container-padding-bottom: 0 ;
}

.opti-container.overlap-bottom__medium .opti-background::before {
  bottom: auto;
  height: 80%;
}

.opti-container.overlap-bottom__small {
  --container-padding-bottom: 0 ;
}

.opti-container.overlap-bottom__small .opti-background::before {
  bottom: auto;
  height: 97%;
}

.opti-container.curve-top .opti-background::before {
  --background-top: var(--background-top--curve);
}

.opti-container.curve-bottom .opti-background::before {
  --background-bottom: var(--background-bottom--curve);
}

.opti-container.padding-top__large {
  --container-padding-top: 96px ;
}

.opti-container.padding-top__medium {
  --container-padding-top: 64px ;
}

.opti-container.padding-top__small {
  --container-padding-top: 32px ;
}

.opti-container.padding-bottom__large {
  --container-padding-bottom: 96px ;
}

.opti-container.padding-bottom__medium {
  --container-padding-bottom: 64px ;
}

.opti-container.padding-bottom__small {
  --container-padding-bottom: 32px ;
}

@media (min-width: 992px) {
  .opti-container.padding-top__large {
    --container-padding-top: 192px ;
  }
  .opti-container.padding-top__medium {
    --container-padding-top: 128px ;
  }
  .opti-container.padding-top__small {
    --container-padding-top: 64px ;
  }
  .opti-container.padding-bottom__large {
    --container-padding-bottom: 192px ;
  }
  .opti-container.padding-bottom__medium {
    --container-padding-bottom: 128px ;
  }
  .opti-container.padding-bottom__small {
    --container-padding-bottom: 64px ;
  }
}
.opti-container.padding-top__none {
  --container-padding-top: 0px ;
}

.opti-container.padding-bottom__none {
  --container-padding-bottom: 0px ;
}

.rte-wrapper p {
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  max-width: 780px;
}

.module-space {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .module-space {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .module-space {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.module-space-tm {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .module-space-tm {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .module-space-tm {
    margin-top: 120px;
  }
}
.module-space-mb {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .module-space-mb {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .module-space-mb {
    margin-bottom: 120px;
  }
}
.module-pad {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .module-pad {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .module-pad {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.module-pad-xs {
  padding-top: 240px;
  padding-bottom: 240px;
}

.module-pad-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.module-pad-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.module-pad-t {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .module-pad-t {
    padding-top: 80px;
  }
}
@media (min-width: 992px) {
  .module-pad-t {
    padding-top: 120px;
  }
}
.module-pad-t-xs {
  padding-top: 2.4px;
}

.module-pad-t-sm {
  padding-top: 40px;
}

.module-pad-t-md {
  padding-top: 80px;
}

.module-pad-b {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .module-pad-b {
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .module-pad-b {
    padding-bottom: 120px;
  }
}
.module-pad-b-xs {
  padding-bottom: 240px;
}

.module-pad-b-sm {
  padding-bottom: 40px;
}

.module-pad-b-md {
  padding-bottom: 80px;
}

.card {
  background: inherit;
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  margin-bottom: 8px;
}
.card.primary {
  background: rgb(255, 192, 203);
  background: linear-gradient(170deg, rgb(255, 192, 203) 0%, rgb(219, 144, 162) 70%);
  color: #10141D;
  box-shadow: 2px 8px 0 purple;
}
.card.primary h1, .card.primary h2, .card.primary h3, .card.primary h4, .card.primary h5, .card.primary h6 {
  color: #10141D;
}
.card.secondary {
  background: rgb(162, 255, 102);
  background: linear-gradient(170deg, rgb(162, 255, 102) 0%, rgb(83, 189, 60) 70%);
  color: #10141D;
  box-shadow: 2px 8px 0 blue;
}
.card.secondary h1, .card.secondary h2, .card.secondary h3, .card.secondary h4, .card.secondary h5, .card.secondary h6 {
  color: #10141D;
}

[class^=card].card {
  height: 100%;
}

.fullwidth {
  background: rgb(16, 20, 29);
  background: linear-gradient(180deg, rgb(16, 20, 29) 0%, rgb(78, 10, 73) 70%);
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
}
.fullwidth.line-bottom:after {
  content: " ";
  display: block;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.5) 51.83%, rgba(255, 255, 255, 0.2) 99.11%, rgba(255, 255, 255, 0) 99.11%);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  bottom: 0;
}
.fullwidth.line-top:before {
  content: " ";
  display: block;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.5) 51.83%, rgba(255, 255, 255, 0.2) 99.11%, rgba(255, 255, 255, 0) 99.11%);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  top: 0;
}

@media (min-width: 768px) {
  .fullwidth {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .fullwidth {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .fullwidth {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
img.rounded {
  border-radius: 1rem !important;
}

html:has(div.experience.unicorn) body {
  background: url("/unicorn/unicorn.png");
  background-size: cover;
  background-position: right bottom;
  color: #000;
  font-family: "Comic Sans MS";
  font-weight: 400;
}
html:has(div.experience.unicorn) .site-header .navbar-nav .nav-link {
  color: #000;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
html:has(div.experience.unicorn) .site-footer {
  background: transparent;
}
html:has(div.experience.unicorn) .site-footer a, html:has(div.experience.unicorn) .site-footer .site-footer__address, html:has(div.experience.unicorn) .site-footer .site-footer__section-links, html:has(div.experience.unicorn) .site-footer .site-footer__section-links {
  color: #000;
}
html:has(div.experience.unicorn) h1, html:has(div.experience.unicorn) h2, html:has(div.experience.unicorn) h3, html:has(div.experience.unicorn) h4, html:has(div.experience.unicorn) h5, html:has(div.experience.unicorn) h6 {
  color: #000;
}
html:has(div.experience.unicorn) .fullwidth {
  background: transparent;
}
html:has(div.experience.unicorn) .fullwidth img {
  border-radius: 1.5rem !important;
  border: solid 0.5rem pink;
}
html:has(div.experience.unicorn) .btn-primary {
  background: pink;
  border: solid 0.5rem purple;
  color: #000;
}
html:has(div.experience.unicorn) .card.primary {
  background: pink !important;
  box-shadow: none;
  border: solid 0.5rem purple;
}
html:has(div.experience.unicorn) .card.secondary {
  background: turquoise !important;
  box-shadow: none;
  border: solid 0.5rem pink;
}
