@mixin line {
    content: " ";
    display: block;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, .5) 51.83%, rgba(255, 255, 255, .2) 99.11%, rgba(255, 255, 255, 0) 99.11%);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;
}

.card {
    background: inherit;
    border-radius: 1.5rem;
    padding: 1.5rem 3rem;
    margin-bottom: 8px;

    &.primary {
        background: rgb(255,192,203);
        background: linear-gradient(170deg, rgba(255,192,203,1) 0%, rgba(219,144,162,1) 70%);
        color: #10141D;
        box-shadow: 2px 8px 0 purple;

        h1, h2, h3, h4, h5, h6 {
            color: #10141D;
        }
    }

    &.secondary {
        background: rgb(162,255,102);
        background: linear-gradient(170deg, rgba(162,255,102,1) 0%, rgba(83,189,60,1) 70%);
        color: #10141D;
        box-shadow: 2px 8px 0 blue;

        h1, h2, h3, h4, h5, h6 {
            color: #10141D;
        }
    }
}

[class^="card"] {
    &.card {
        height: 100%;
    }
}

.fullwidth {
    background: rgb(16,20,29);
    background: linear-gradient(180deg, rgba(16,20,29,1) 0%, rgba(78,10,73,1) 70%);

    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;

    &.line-bottom {
        &:after {
            @include line;
            bottom: 0;
        }
    }

    &.line-top {
        &:before {
            @include line;
            top: 0;
        }
    }
}

@media (min-width: 768px) {
    .fullwidth {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (min-width: 992px) {
    .fullwidth {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media (min-width: 1200px) {
    .fullwidth {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
