.opti-border {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, 0.3) 51.83%, rgba(255, 255, 255, 0.025) 99.11%, rgba(255, 255, 255, 0) 99.11%);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;

    &.bottom {
        bottom: 0;
    }

    &.top {
        top: 0;
    }

    &.centered {
        width: 57%;
    }
}


@media (max-width: 767.98px) {
    .row__vertical-separators > [class*=col-] + [class*=col-],
    .row__vertical-separators > .col + .col {
        margin-top: 40px;
    }

    .row__vertical-separators > .col-md-6:nth-of-type(3n):before {
        display: none
    }
}

@media (min-width: 768px) {
    .row__vertical-separators {
        --bs-gutter-x: 48px !important
    }

    .row__vertical-separators > [class*=col-], .row__vertical-separators > .col {
        margin-bottom: 40px
    }

    .row__vertical-separators > [class*=col-] + [class*=col-], .row__vertical-separators > .col + .col {
        position: relative
    }

    .row__vertical-separators > [class*=col-] + [class*=col-]::before,
    .row__vertical-separators > .col + .col::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0px;
        width: 1px;
        height: 90%;
        margin: auto;
        opacity: .5;
        background: linear-gradient(1deg,rgba(255,255,255,0) -2.88%,rgba(255,255,255,.6) 51.83%,rgba(255,255,255,.05) 99.11%,rgba(255,255,255,0) 99.11%)
    }

    .theme--light .row__vertical-separators > [class*=col-] + [class*=col-]::before,
    .theme--light .row__vertical-separators > .col + .col::before {
        background: linear-gradient(1deg,rgba(233,235,241,0) -2.88%,rgba(0,55,255,.6) 51.83%,rgba(255,255,255,.05) 99.11%,rgba(233,235,241,0) 99.11%)
    }
}
