@import "mixins";

.opti-card {
    .section-wrapper {
        background: rgba(25,30,40,.9);
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 40px;
        padding: 40px;

        .row.heading {
            text-align: center;
            padding-bottom: 56px;
            padding-top: 24px;
        }

        .row:not(.heading) {
            padding: 24px 0;

            h1:not(.overline) {
                font-size: 30px;
                font-weight: 500;
                line-height: 36px;
            }

            > div:not(:first-child) {
                padding-left: 36px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0px;
                    width: 1px;
                    height: 90%;
                    margin: auto;
                    margin-left: 12px;
                    opacity: .5;
                    background: linear-gradient(1deg,rgba(255,255,255,0) -2.88%,rgba(255,255,255,.6) 51.83%,rgba(255,255,255,.05) 99.11%,rgba(255,255,255,0) 99.11%);
                }
            }
        }
    }

    &.no-background {
        .section-wrapper {
            background: transparent;
            border: 0 none;
            padding: 0;
        }
    }
}
