@import "vars";
@import "mixins";

.site-footer {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 44px;
    background: linear-gradient(
            180deg,
            var(--vulcan) 0%,
            rgba(16, 20, 29, 0) 79.63%
        ),
        radial-gradient(
            177.38% 139.66% at 50% 0%,
            var(--vulcan) 0%,
            var(--vulcan-95) 100%
        );

    @media (min-width: 992px) {
        padding-top: 80px;
        padding-bottom: 34px;
    }

    h3 {
        @include font-overline;
        margin-bottom: 16px;
    }

    p {
        margin: 0;
    }

    ul.site-footer__section-links {
        font-size: 12px;
        list-style: none;

        li {
            margin-bottom: 8px;

            a {
                line-height: 18px;
                color: var(--mischka);
            }
        }
    }

    &__logo-wrapper {
        margin-bottom: 32px;
    }

    &__address {
        font-size: 12px;
        font-style: normal;
        line-height: 18px;
        color: var(--mischka);

        a {
            display: inline-block;
            margin-bottom: 4px;
            color: var(--mischka);
            text-decoration: underline;
        }
    }

    &__bottom {
        margin-top: 20px;

        @media (min-width: 992px) {
            margin-top: 110px;
            margin-bottom: 33px;
        }

        .site-footer__copyright {
            margin-right: 24px;
            line-height: 1.5em;
        }

        .site-footer__copyright,
        .site-footer__bottom-links a {
            font-size: 12px;
            font-weight: var(--font-weight-light);
            color: var(--santas-gray);
        }

        .site-footer__bottom-links li {
            display: block;
            margin-bottom: 4px;
        }

        .site-footer__bottom-links li::marker {
            content: "";
        }

        @media (min-width: 992px) {
            .site-footer__bottom-links {
                text-align: left;
            }

            .site-footer__bottom-links li {
                display: inline-block;
                margin-right: var(--bs-gutter-x);
                margin-bottom: 0;
            }

            .site-footer__bottom-links a {
                line-height: 1;
            }
        }
    }
}
