@import "vars";

body {
    background: var(--color-background);
    color: var(--color-text-body);
    font-family: Figtree, sans-serif;
    font-weight: 300;
}

.row, :root, :after, :before {
    --bs-gutter-x: 16px;
}

@media (min-width: 992px) {
    .row, :root, :after, :before {
        --bs-gutter-x: 24px;
    }
}


.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 8px);
    padding-left: var(--bs-gutter-x, 8px);
    margin-right: auto;
    margin-left: auto
}


@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 768px
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 992px
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1200px
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}
.outer-padding {
    padding-right: 16px;
    padding-left: 16px
}

@media (min-width: 576px) {
    .outer-padding {
        padding-right: 32px;
        padding-left: 32px
    }
}

@media (min-width: 1200px) {
    .outer-padding {
        padding-right: 56px;
        padding-left: 56px
    }
}
