.hero {
    background:
        linear-gradient(180deg, var(--vulcan) 55.03%, #191e28 100%),
        radial-gradient( 17.88% 49.57% at 32.13% 100%, var(--vulcan) 34.26%, var(--space) 99.94% ),
        radial-gradient( 21.21% 58.79% at 50.01% 100%, var(--space) .25%, var(--vulcan) 97.49% ),
        radial-gradient( 10.56% 29.27% at 50.01% 100%, var(--space-85) .25%, var(--vulcan) 97.49% );
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;

    .jumbotron-overline {
        margin-top: 5px;
        margin-bottom: 32px;

        img {
            width: 40px;
            height: 40px;
            margin: 0 15px 0 .5px;
        }
    }

    .jumbotron-inner {
        padding: 4rem;
    }
}

.hero__image {
    border-radius: 16px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .hero {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (min-width: 992px) {
    .hero {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media (min-width: 1200px) {
    .hero {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}



.opti-hero {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 64px;

    &__background {
        --opti-hero-background:
            linear-gradient(180deg, var(--vulcan) 55.03%, #191e28 100%),
            radial-gradient( 17.88% 49.57% at 32.13% 100%, var(--vulcan) 34.26%, var(--space) 99.94% ),
            radial-gradient( 21.21% 58.79% at 50.01% 100%, var(--space) .25%, var(--vulcan) 97.49% ),
            radial-gradient( 10.56% 29.27% at 50.01% 100%, var(--space-85) .25%, var(--vulcan) 97.49% );
        background: var(--opti-hero-background);
    }

    &__curved {
        padding-bottom: calc(max(170px,12vw) + 104px); // we add 64+40px to account for top and bottom padding
        // Clip
        -webkit-mask: linear-gradient(black,black),url("https://images4.cmp.optimizely.com/Zz04ZjVlNzg0NjU5OGMxMWVlYWNhYzRhZmU0YWI2MDdlZg==") bottom center no-repeat;
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        -webkit-mask-size: max(2000px,150%);
        mask-size: max(2000px, 150%);

        &::before {
            background: url("https://images4.cmp.optimizely.com/Zz01NjRlMDVlODU5OGQxMWVlOGY2YWE2OWMwMmUwZmFjZg==");
            background-size: max(2030px,151.5%);
            background-position: center bottom;
            background-repeat: no-repeat;
            opacity: .25;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}
