:root {
    --thumbnail-size-sm: 32px;
    --thumbnail-size: 50px;
    --thumbnail-size-lg: 72px;
}

.thumbnail {
    border-radius: 0.25rem;
    object-fit: cover;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);

    &-sm {
        width: var(--thumbnail-size-sm);
        height: var(--thumbnail-size-sm);
    }

    &-lg {
        width: var(--thumbnail-size-lg);
        height: var(--thumbnail-size-lg);
    }
}

img, svg, video {
    max-width: 100%;
}

.jumbotronblock, .block, .teaserblock {
    img {
        border-radius: 8px;
    }
}

.curved {
    overflow: hidden;
    border-radius: var(--border-radius);
    --border-radius: 24px;

    &-sm {
        --border-radius: 16px;
    }

    &-lg {
        --border-radius: 32px;
    }

    &-xl {
        --border-radius: 40px;
    }
}
