

.tile {
    --tile-border-radius: 12px;
    --tile-outer-padding: 6px 16px;
    --tile-background-color: rgba(25,30,40, 0.9);
    --tile-gradient-border: linear-gradient( 180deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .05) 100% );
    --tile-thumbnail-size: 50px;
    --tile-thumbnail-max-height: 32px;
    display: flex;
    align-items: center;
    background: var(--tile-background-color);
    background-clip: padding-box;
    border-radius: var(--tile-border-radius);
    padding: var(--tile-outer-padding);
    border: 1px solid transparent;
    position: relative;
    height: 100%;

    .tile-image {
        .tile-image__thumbnail {
            border-radius: 0.25rem;
            object-fit: cover;
            width: var(--tile-thumbnail-size);
            max-height: var(--tile-thumbnail-max-height);
        }
    }

    .tile-body {
        display: flex;
        align-items: center;
        height: 100%;

        .tile-section__left, .tile-section__right {
            position: relative;
        }

        .tile-section__left, .tile-section__border {
            flex: 0 0 auto;
        }

        .tile-section__right {
            flex: 1 1 auto;
        }

        .tile-section__border {
            width: 1px;
            height: 75%;
            margin: -2px 16px;
            background: linear-gradient(0deg,rgba(255,255,255,0) -2.88%,rgba(255,255,255,.3) 51.83%,rgba(255,255,255,.025) 99.11%,rgba(255,255,255,0) 99.11%)
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: var(--tile-gradient-border);
    }

    &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
        box-shadow: 0 8px 10px #0003, inset 0 1px #484f61, inset 0 -1px 10px #484f614d, inset 0 10px 10px #484f614d;
        transition: opacity .5s ease-in-out;
    }

    &:hover {
        color: unset;
    }

    &:hover::after {
        opacity: 1;
    }

    &:focus {
        --tile-gradient-border: linear-gradient( 180deg, rgba(220, 223, 227, .05) 0%, #dcdfe3 100% )
    }
}
